<h1> Billz, Ya'll </h1>
<div id="main">
  <table class="ui table">
    <thead>
      <tr>
        <th>Bill</th>
        <th>Who is owed?</th>
        <th>Shitfeet Owes</th>
        <th>Sweat Twin Owes</th>
        <th>Riff Raff Owes</th>
        <th>Pomme Frittes Owes</th>
      </tr>
    </thead>
    <tbody>
      <script type="text/template" id="bill-template">
      <td> {{name}}</td>
      <td> {{owner}}</td>
      <td contenteditable="true"> {{dom_debt}}</td>
      <td contenteditable="true"> {{shamy_debt}}</td>
      <td contenteditable="true"> {{jamie_debt}}</td>
      <td contenteditable="true"> {{andy_debt}}</td>
      </script>
    </tbody>
  </table>
</div>
</br>
<div id="form-container">
  <h3> Add a Bill </h3>
  <form class="ui form" id="billform">
      <div class="field">
        <div class="two fields">
          <div class="field">
            <select class="ui selection dropdown" id="bill-owner">
              <option value='' disabled selected style='display:none;'>Who is Owed?</option>
              <option value="Dom">Uncle Shitfeet</option>
              <option value="Shamy">Sweat Twin</option>
              <option value="Jamie">Riff Raff</option>
              <option value="Andy">Creme Fraiche</option>
            </select>
          </div>
          <div class="field">
            <input type="text" id="bill-description" placeholder="Bill Description">
          </div>
      </div>
      <div class="field">
        <label>Amounts Owed </label>
        <div class="four fields">
          <div class="field">
            <input type="text" id="dom-owes" placeholder="Dom Owes:">
          </div>
          <div class="field">
            <input type="text" id="andy-owes" placeholder="Andy Owes:">
          </div>
          <div class="field">
            <input type="text" id="jamie-owes" placeholder="Jamie Owes:">
          </div>
          <div class="field">
            <input type="text" id="shamy-owes" placeholder="Shamy Owes:">
          </div>
        </div>
      </div>
    </div>
    <div class="ui button" id="addbill">Add Bill </div>
  </form>
</div>


