</br>
<div class="ui grid">
  <div class="two wide column">
    
  </div>
  <div class="ten wide column">
    <span id="header"> <a href="/#"><h3 class= "ui teal header animated pulse"> 140 10th Billz, Ya'll </h3></a></span>
    </br>
    <div id="main">
      <table class="ui table" id="main-table">
        <thead>
          <tr>
            <th> <h5 class="ui blue header"> Bill </h5> </th>
            <th> <h5 class="ui blue header"> Who is owed? </h5> </th>
            <th> <h5 class="ui blue header"> Shitfeet Owes </h5> </th>
            <th> <h5 class="ui blue header"> Sweat Twin Owes </h5> </th>
            <th> <h5 class="ui blue header"> Riff Raff Owes </h5> </th>
            <th> <h5 class="ui blue header"> Pomme Frittes Owes</h5> </th>
            <th> <h5 class="ui blue header"> Delete?</h5> </th>
          </tr>
        </thead>
        <tbody>
          <script type="text/template" id="bill-template">
          <td> {{name}}</td>
          <td> {{owner}}</td>
          <td contenteditable="true" id="dom-debt" class="debt"> {{dom_debt}}</td>
          <td contenteditable="true" id="shamy-debt" class="debt">{{shamy_debt}}</td>
          <td contenteditable="true" id="jamie-debt" class="debt"> {{jamie_debt}}</td>
          <td contenteditable="true" id="andy-debt" class="debt"> {{andy_debt}}</td>
          <td>
            <div class="mini ui button red delete">
              X
            </div>
          </td>
          </script>
        </tbody>
      </table>
    </div>
    </br>
    <div id="form-container">
      <h5 class="ui teal header animated pulse"> Add a Bill </h5>
      <form class="ui form" id="billform">
          <div class="field">
            <div class="two fields">
              <div class="field">
                <select class="ui dropdown" id="bill-owner">
                  <option value="">Owner</option>
                  <option value="Dom">Uncle Shitfeet</option>
                  <option value="Shamy">Sweat Twin</option>
                  <option value="Jamie">Riff Raff</option>
                  <option value="Andy">Creme Fraiche</option>
                </select>
              </div>
              <div class="field">
                <input type="text" id="bill-description" placeholder="Bill Description">
              </div>
          </div>
          <div class="field">
            <label class="ui teal header animated pulse">Amounts Owed </label>
            <div class="five fields">
              <div class="field">
                <input type="text" id="dom-owes" placeholder="Dom Owes:">
              </div>
              <div class="field">
                <input type="text" id="andy-owes" placeholder="Andy Owes:">
              </div>
              <div class="field">
                <input type="text" id="jamie-owes" placeholder="Jamie Owes:">
              </div>
              <div class="field">
                <input type="text" id="shamy-owes" placeholder="Shamy Owes:">
              </div>
              <div class="field">
                <div class="medium teal ui button" style="margin-left: 20px;" id="addbill">Add Bill </div>
              </div>
            </div>
          </div>
        </div>
        <div>
        <h5 class= "ui teal header animated pulse"> Total Debt Quickview </h5>
          <table class="ui table" id="breakdowntable">
            <thead>
              <tr>
                <th>Dom Total</th>
                <th>Shamy Total</th>
                <th>Jamie Total</th>
                <th>Andy Total</th>
              </tr>
            </thead>
            <tbody>
                <tr id="totals">
                  <td>{{dom_total}}</td>
                  <td>{{shamy_total}}</td>
                  <td>{{jamie_total}}</td>
                  <td>{{andy_total}}</td>
                </tr>
                <script type="text/template" id="total-template">
                    <td class="debt">{{dom_total}}</td>
                    <td class="debt">{{shamy_total}}</td>
                    <td class="debt">{{jamie_total}}</td>
                    <td class="debt">{{andy_total}}</td>
                </script>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
  <div class="three wide column">
    </br></br>
    <div class="ui vertical menu" id="link-bar">
        <a class="item" id="shamy-link"> View Shamy </a>
        <a class="item" id="dom-link"> View Dom </a>
        <a class="item" id="jamie-link"> View Jamie </a>
        <a class="item" id="andy-link"> View Andy </a>
    </div>
  </div>
  <div class="one wide column"></div>

</div>



<script type="text/template" id="dom-modal-template">
<div class="ui modal" id="dom-modal">
  <div class="ui grid">
      <div class="four wide column">
        <div class="ui medium image">
          <img src="/dom.jpeg">
        </div>
        <div class="ui header">ZHOM AKA uncle shitfeet</div>
      </div>
      <div class="twelve wide column">
        <table class="ui table">
          <thead>
            <tr>
              <th> Shamy Owes Dom </th>
              <th> Andy Owes Dom </th>
              <th> Jamie Owes Dom </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> {{shamyTotal}} </td>
              <td> {{andyTotal}} </td>
              <td> {{jamieTotal}} </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
</script>


