</br>
<div class="ui grid">
  <div class="three wide column"></div>
  <div class="ten wide column">
    <h1 class= "ui teal header"> 140 10th Billz, Ya'll </h1>
    <div id="main">
      <table class="ui table">
        <thead>
          <tr>
            <th> <h5 class="ui blue header"> Bill </h5> </th>
            <th> <h5 class="ui blue header"> Who is owed? </h5> </th>
            <th> <h5 class="ui blue header"> Shitfeet Owes </h5> </th>
            <th> <h5 class="ui blue header"> Sweat Twin Owes </h5> </th>
            <th> <h5 class="ui blue header"> Riff Raff Owes </h5> </th>
            <th> <h5 class="ui blue header"> Pomme Frittes Owes</h5> </th>
          </tr>
        </thead>
        <tbody>
          <script type="text/template" id="bill-template">
          <td> {{name}}</td>
          <td> {{owner}}</td>
          <td contenteditable="true"> {{dom_debt}}</td>
          <td contenteditable="true"> {{shamy_debt}}</td>
          <td contenteditable="true"> {{jamie_debt}}</td>
          <td contenteditable="true"> {{andy_debt}}</td>
          </script>
        </tbody>
      </table>
    </div>
    </br>
    <div id="form-container">
      <h3 class="ui teal header"> Add a Bill </h3>
      <form class="ui form" id="billform">
          <div class="field">
            <div class="two fields">
              <div class="field">
                <select class="ui dropdown" id="bill-owner">
                  <option value="">Owner</option>
                  <option value="Dom">Uncle Shitfeet</option>
                  <option value="Shamy">Sweat Twin</option>
                  <option value="Jamie">Riff Raff</option>
                  <option value="Andy">Creme Fraiche</option>
                </select>
              </div>
              <div class="field">
                <input type="text" id="bill-description" placeholder="Bill Description">
              </div>
          </div>
          <div class="field">
            <label class="ui teal header">Amounts Owed </label>
            <div class="four fields">
              <div class="field">
                <input type="text" id="dom-owes" placeholder="Dom Owes:">
              </div>
              <div class="field">
                <input type="text" id="andy-owes" placeholder="Andy Owes:">
              </div>
              <div class="field">
                <input type="text" id="jamie-owes" placeholder="Jamie Owes:">
              </div>
              <div class="field">
                <input type="text" id="shamy-owes" placeholder="Shamy Owes:">
              </div>
            </div>
          </div>
        </div>
        <div class="ui teal button" id="addbill">Add Bill </div>
      </form>
    </div>
    <div class="three wide column"></div>
  </div>
</div>


