</br>
<div class="ui grid">
  <div class="two wide column"></div>
  <div class="eight wide column">
    <span id="header"> <a href="/#"><h3 class= "ui teal header animated pulse"> 140 10th Billz, Ya'll </h3></a></span>
    </br>
    <div id="main">
      <table class="ui table" id="main-table">
        <thead>
          <tr>
            <th> <h5 class="ui blue header"> Bill </h5> </th>
            <th> <h5 class="ui blue header"> Who is owed? </h5> </th>
            <th> <h5 class="ui blue header"> Shitfeet Owes </h5> </th>
            <th> <h5 class="ui blue header"> Sweat Twin Owes </h5> </th>
            <th> <h5 class="ui blue header"> Riff Raff Owes </h5> </th>
            <th> <h5 class="ui blue header"> Pomme Frittes Owes</h5> </th>
          </tr>
        </thead>
        <tbody>
          <script type="text/template" id="bill-template">
          <td> {{name}}</td>
          <td> {{owner}}</td>
          <td contenteditable="true" id="dom-debt" class="debt"> {{dom_debt}}</td>
          <td contenteditable="true" id="shamy-debt" class="debt">{{shamy_debt}}</td>
          <td contenteditable="true" id="jamie-debt" class="debt"> {{jamie_debt}}</td>
          <td contenteditable="true" id="andy-debt" class="debt"> {{andy_debt}}</td>
          </script>
        </tbody>
      </table>
    </div>
    </br>
    <div id="form-container">
      <h5 class="ui teal header animated pulse"> Add a Bill </h5>
      <form class="ui form" id="billform">
          <div class="field">
            <div class="two fields">
              <div class="field">
                <select class="ui dropdown" id="bill-owner">
                  <option value="">Owner</option>
                  <option value="Dom">Uncle Shitfeet</option>
                  <option value="Shamy">Sweat Twin</option>
                  <option value="Jamie">Riff Raff</option>
                  <option value="Andy">Creme Fraiche</option>
                </select>
              </div>
              <div class="field">
                <input type="text" id="bill-description" placeholder="Bill Description">
              </div>
          </div>
          <div class="field">
            <label class="ui teal header animated pulse">Amounts Owed </label>
            <div class="five fields">
              <div class="field">
                <input type="text" id="dom-owes" placeholder="Dom Owes:">
              </div>
              <div class="field">
                <input type="text" id="andy-owes" placeholder="Andy Owes:">
              </div>
              <div class="field">
                <input type="text" id="jamie-owes" placeholder="Jamie Owes:">
              </div>
              <div class="field">
                <input type="text" id="shamy-owes" placeholder="Shamy Owes:">
              </div>
              <div class="field">
                <div class="medium teal ui button" style="margin-left: 20px;" id="addbill">Add Bill </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          </br>
          <table class="ui table" id="breakdowntable">
            <thead>
              <tr>
                <th>Dom Total</th>
                <th>Shamy Total</th>
                <th>Jamie Total</th>
                <th>Andy Total</th>
              </tr>
            </thead>
            <tbody>
                <tr id="totals">
                  <td>{{dom_total}}</td>
                  <td>{{shamy_total}}</td>
                  <td>{{jamie_total}}</td>
                  <td>{{andy_total}}</td>
                </tr>
                <script type="text/template" id="total-template">
                    <td>{{dom_total}}</td>
                    <td>{{shamy_total}}</td>
                    <td>{{jamie_total}}</td>
                    <td>{{andy_total}}</td>
                </script>
            </tbody>
          </table>
        </div>
      </form>
      <div class="4 fluid ui buttons" id="link-bar">
      </br>
      <h4 class="ui teal header animated pulse"> View a Roommaate </h4>
        <div class="ui blue basic button" id="shamy-link">Shamy</div>
        <div class="ui red basic button" id="andy-link">Andy</div>
        <div class="ui orange basic button" id="dom-link">Dom</div>
        <div class="ui purple basic button" id="jamie-link">Jamie</div>
      </div>
    </div>
    </div>
  <div class="six wide column" id="invalid">
    <div class=" ui grid">
      <div class="two wide column"> </div>
      <div class="twelve wide column" id="bio"> 
      <h3 class= "ui teal header animated pulse"> Roommate Info </h3>
        <div class="ui card">
        <!-- card, will be a script template -->
        <!-- will need individual attributes for each roomate -->

        <!-- end card -->
      </div>
    </div>
  </div>
</div>















<!-- card templates -->
<script type="text/template" id="shamy-card">
        <div class="ui card" id="bio">
          <div class="centered">
            <img src="/shamy.jpeg" class="demo">
          </div>
          <div class="content">
            <a class="header">Zahed Shamy</a>
            <div class="meta">
              <span class="date">Sweat Twin</span>
            </div>
            <div class="description">
              Foam-Roller
            </div>
          </div>
          <div class="extra content">
            <a>
              Total Debt: {{template this in later}}
            </a>
          </div>
          <div class="extra content">
            <a>
              Owes {{Dom}}: {{template this in later}}
            </a>
          </div>
          <div class="extra content">
            <a>
              Owes {{Andy}}: {{template this in later}}
            </a>
          </div>
          <div class="extra content">
            <a>
              Owes {{Jamie}}: {{template in later}}
            </a>
          </div>
        </div>
</script>


<script type="text/template" id="dom-card">
        <div class="ui card" id="bio">
          <div class="centered">
            <img src="/dom.jpeg" class="demo">
          </div>
          <div class="content">
            <a class="header">Dom</a>
            <div class="meta">
              <span class="date">Uncle Shitfeet</span>
            </div>
            <div class="description">
              ZHOM COME ON
            </div>
          </div>
          <div class="extra content">
            <a>
              Total Debt: {{template this in later}}
            </a>
          </div>
          <div class="extra content">
            <a>
              Owes {{Shamy}}: {{template this in later}}
            </a>
          </div>
          <div class="extra content">
            <a>
              Owes {{Andy}}: {{template this in later}}
            </a>
          </div>
          <div class="extra content">
            <a>
              Owes {{Jamie}}: {{template in later}}
            </a>
          </div>
        </div>
</script>

<script type="text/template" id="andy-card">
        <div class="ui card" id="bio">
          <div class="centered">
            <img src="/alf.jpeg" class="demo">
          </div>
          <div class="content">
            <a class="header">Creme Fraiche</a>
            <div class="meta">
              <span class="date">Blind Rage</span>
            </div>
            <div class="description">
              OHHHHHHHH KRALF
            </div>
          </div>
          <div class="extra content">
            <a>
              Total Debt: {{template this in later}}
            </a>
          </div>
          <div class="extra content">
            <a>
              Owes {{Dom}}: {{template this in later}}
            </a>
          </div>
          <div class="extra content">
            <a>
              Owes {{Andy}}: {{template this in later}}
            </a>
          </div>
          <div class="extra content">
            <a>
              Owes {{Jamie}}: {{template in later}}
            </a>
          </div>
        </div>
</script>


<script type="text/template" id="jamie-card">
        <div class="ui card" id="bio">
          <div class="centered">
            <img src="/riff.jpeg" class="demo">
          </div>
          <div class="content">
            <a class="header">Riff Raff Brickman</a>
            <div class="meta">
              <span class="date">Bullet Train</span>
            </div>
            <div class="description">
              Kid Charlemagne
            </div>
          </div>
          <div class="extra content">
            <a>
              Total Debt: {{template this in later}}
            </a>
          </div>
          <div class="extra content">
            <a>
              Owes {{Dom}}: {{template this in later}}
            </a>
          </div>
          <div class="extra content">
            <a>
              Owes {{Andy}}: {{template this in later}}
            </a>
          </div>
          <div class="extra content">
            <a>
              Owes {{Jamie}}: {{template in later}}
            </a>
          </div>
        </div>
</script>







<script>
 //reference bills object, reset with it.
</script>



