  
<div id="main">
  <table class="ui table">
    <thead>
      <tr>
        <th>Bill</th>
        <th>Who is owed?</th>
        <th>Shitfeet Owes</th>
        <th>Sweat Twin Owes</th>
        <th>Riff Raff Owes</th>
        <th>Pomme Frittes Owes</th>
      </tr>
    </thead>
    <tbody>
      <script type="text/template" id="bill-template">
      <td> {{name}}</td>
      <td> {{ownder}}</td>
      <td> {{dom_debt}}</td>
      <td> {{shamy_debt}}</td>
      <td> {{jamie_debt}}</td>
      <td> {{andy_debt}}</td>
      </script>
    </tbody>
  </table>
</div>
