</br>
<div class="ui grid">
  <div class="two wide column"></div>
  <div class="eight wide column">
    <span id="header"> <h1 class= "ui teal header animated pulse"> 140 10th Billz, Ya'll </h1></span>
    </br>
    <div id="main">
      <table class="ui table" id="main-table">
        <thead>
          <tr>
            <th> <h5 class="ui blue header"> Bill </h5> </th>
            <th> <h5 class="ui blue header"> Who is owed? </h5> </th>
            <th> <h5 class="ui blue header"> Shitfeet Owes </h5> </th>
            <th> <h5 class="ui blue header"> Sweat Twin Owes </h5> </th>
            <th> <h5 class="ui blue header"> Riff Raff Owes </h5> </th>
            <th> <h5 class="ui blue header"> Pomme Frittes Owes</h5> </th>
          </tr>
        </thead>
        <tbody>
          <script type="text/template" id="bill-template">
          <td> {{name}}</td>
          <td> {{owner}}</td>
          <td contenteditable="true" id="dom-debt" class="debt"> {{dom_debt}}</td>
          <td contenteditable="true" id="shamy-debt" class="debt">{{shamy_debt}}</td>
          <td contenteditable="true" id="jamie-debt" class="debt"> {{jamie_debt}}</td>
          <td contenteditable="true" id="andy-debt" class="debt"> {{andy_debt}}</td>
          </script>
        </tbody>
      </table>
    </div>
    </br>
    <div id="form-container">
      <h3 class="ui teal header animated pulse"> Add a Bill </h3>
      <form class="ui form" id="billform">
          <div class="field">
            <div class="two fields">
              <div class="field">
                <select class="ui dropdown" id="bill-owner">
                  <option value="">Owner</option>
                  <option value="Dom">Uncle Shitfeet</option>
                  <option value="Shamy">Sweat Twin</option>
                  <option value="Jamie">Riff Raff</option>
                  <option value="Andy">Creme Fraiche</option>
                </select>
              </div>
              <div class="field">
                <input type="text" id="bill-description" placeholder="Bill Description">
              </div>
          </div>
          <div class="field">
            <label class="ui teal header animated pulse">Amounts Owed </label>
            <div class="four fields">
              <div class="field">
                <input type="text" id="dom-owes" placeholder="Dom Owes:">
              </div>
              <div class="field">
                <input type="text" id="andy-owes" placeholder="Andy Owes:">
              </div>
              <div class="field">
                <input type="text" id="jamie-owes" placeholder="Jamie Owes:">
              </div>
              <div class="field">
                <input type="text" id="shamy-owes" placeholder="Shamy Owes:">
              </div>
            </div>
          </div>
        </div>
        <div class="ui teal basic button" id="addbill">Add Bill </div>
<div class="4 fluid ui buttons">
</br>
<h4> View a Roommaate </h4>
  <div class="ui blue basic button">Shamy</div>
  <div class="ui red basic button">Andy</div>
  <div class="ui orange basic button">Dom</div>
  <div class="ui purple basic button">Jamie</div>

</div>
      </form>
    </div>
    </div>
  <div class="six wide column" id="invalid">
    <div class=" ui grid">
      <div class="two wide column"> </div>
      <div class="twelve wide column"> 
      <h1 class= "ui teal header animated pulse"> Roommate Info </h1>
        <div class="ui card">
        <!-- card, will be a script template -->
        <!-- will need individual attributes for each roomate -->
          <div class="image">
            <img src="/shamy.jpeg">
          </div>
          <div class="content">
            <a class="header">Zahed Shamy</a>
            <div class="meta">
              <span class="date">Sweat Twin</span>
            </div>
            <div class="description">
              Shamy is an expert at riff-raffing in the garden and making good use of the Gowanus
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              Total Debt: {{template this in later}}
            </a>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              Owes {{Dom}}: {{template this in later}}
            </a>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              Owes {{Andy}}: {{template this in later}}
            </a>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              Owes {{Jamie}}: {{template in later}}
            </a>
          </div>
        </div>

        <!-- end card -->
      </div>
    </div>
  </div>
</div>


