.invalid{
  color: white;
  background-color: #E64848;
}

#nar{
  color:white;
  background-color: #E64848;
}

#warning{
  color: #E64848;
}

.debt:before { 
  content: '$';
}

.image{
  border-radius: 25px;
}