.invalid{
  color: white;
  background-color: #E64848;
}

#nar{
  color:white;
  background-color: #E64848;
}

#warning{
  color: #E64848;
}

.debt:before { 
  content: '$';
}

.demo{
  border-radius: 150px;
  width: 150px;
  height: 150px;
}

.centered{
    margin: auto;
}

.nudge{
  margin-left: 25px;
}