.invalid{
  color: white;
  background-color: #E64848;
}

#nar{
  color:white;
  background-color: #E64848;
}

#warning{
  color: #E64848;
}

.debt:before { 
  content: '$';
}

.demo{
  border-radius: 150px;
  width: 290px;
  height: 290px;
}