.invalid{
  color: white;
  background-color: #E64848;
}

#nar{
  color:white;
  background-color: #E64848;
}

#warning{
  color: #E64848;
}

.debt:before { 
  content: '$';
}

.demo{
  border-radius: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 215px; /* you can use % */
  max-height: 215px;
}

.centered{
    margin: auto;

}


img.resize{
    width:215px; /* you can use % */
    height: auto;
}